/**
 *
 * PORTFOLIO SINGLE GULF COAST
 *
 */

#portfolio-single-gulfcoast {
	// border: 1rem solid red;

	.right-content {

		header {
			border-bottom: 2px solid $cg-secondary;
			margin-bottom: 2rem;

			h4,h5 {
				font-family: $secondary-font;
			}
			h4 {
				font-weight: 700;
			}
			h5 {
				padding-bottom: 1.2rem;
			}
		}

		main {
			p {
				font-size: 1.2rem !important;
			}
		}
	}
}

